<nav>
	<ul class="topnav">
		<li><a class='logo_home' href="/">Koalaa</a></li>
	  <li><a href="/questions">My Questions</a></li>
	  <li><a href="/answers">My Answers</a></li>
	  <li><a href="/users/<%=current_user.id%>">My Profile</a></li>
	  <li class='right'><a href="/logout">Logout</a></li>
	</ul>
</nav>

<div class="stage">

<div class='section'>
<h2>My Answers</h2>

</div> <!-- end of section -->


<h1> My Answers </h1>

<% if @answers.count < 1%>
	<p>You have not answered any questions</p>
<% else %>
	<p>Your posted answers:</p>

	<% @answers.each do |a| %>
		<p>
			<p style="white-space: pre-line;"> <%= a.content %> </p>
			<a href='/answers/<%= a.id %>/edit'>Edit answer</a><br>

			<form method=post action=/answers/<%= a.id %>/delete >
				<!-- this line below is Important -->
				<input id="hidden" type="hidden" name="_method" value="delete">
				<input type=submit value="Delete Answer">
			</form>
			question: <i> <a href='/questions/<%= a.question.id %>'><%= a.question.content %></a> </i><br>
			<%= a.updated_at %>
		</p>
	<% end %>

<% end %>


</div> <!-- end of stage -->
